<!DOCTYPE html>
<html>
  <head>
        <title>{{ page.title }}</title>
 
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="shortcut icon" type="image/png" href="../icons/favicon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla&family=PT+Sans&display=swap">
   
        <meta name="title" property="og:title" content="{{ page.title }}">
        <meta name="description" property="og:description" content="Milyza Flores is a Filipina Product Manager & Community Organizer from NYC who always brings her whole self. ✨">
        <meta property="og:image" content="../photos/milyza_og.jpg"/>
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://milyza.co/">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163901879-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-163901879-1');
        </script>

        <script type="text/javascript">
            function changeImage(element) {
            document.getElementById('imageReplace').src = element;
            }
            </script>
    </head>

    <body>
        <div id="header">

            <div id="logo">
                <a href="/"><img src="../icons/favicon.png"></a>
            </div>

            <nav>
                <ul> 
                    <li><a href="/">Home</a></li>
                    <li><a href="https://www.linkedin.com/in/milyzaflores/"><img src="../icons/linkedin.png" width="20"></a></li>
                    <li><a href="mailto:milyzaf@gmail.com"><button>Reach Out</button></a></li>
                </ul>
            </nav>

        </div>

        {{ content }}


        <footer>
                <p>Have a great day! ☀️</p>
    </body>
    
    
</html>
